<a title="Buy me a coffee" nz-button class="btn-width-icon" target="_blank" href="ttps://www.buymeacoffee.com/tuantrungvo">
    <svg-icon [key]="'cup-straw'"></svg-icon>
    <span>Support</span>
</a>
<a
  nz-button
  class="btn-with-icon"
  target="_blank"
  href="https://twitter.com/intent/tweet?url=https://github.com/ricardoHer/spotify-music-clone&text=A%20cool%20Spotify%20client%20made%20with%20Angular%2015,%20Nx%20workspace,%20ngrx,%20TailwindCSS%20and%20ng-zorro%20%40hernandezrica&hashtags=angularspotify,angular,nx,ngrx,ngzorro,typescrip"
>
  <svg-icon [key]="'twitter'"></svg-icon>
  <span>Tweet</span>
</a>
<a
  nz-button
  class="btn-with-icon"
  target="_blank"
  href="https://github.com/ricardoHer/spotify-music-clone"
>
  <svg-icon [key]="'github'"></svg-icon>
  <span>Source Code</span>
</a>

