<div class="main-container" class="content-spacing">
    <!-- <router-outlet></router-outlet>
    <app-theme-mode></app-theme-mode>
    <div>
        <h1>Angular Material Theming System: Complete Guide</h1>
        
        <div class="demo-buttons">
            <button mat-raised-button color="primary">Raised</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
        </div>
    </div>
    <h1 class="text-3xl font-bold underline">
        Hello world!
      </h1> -->    
      <app-user-dropdown></app-user-dropdown>
</div>
